<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">

    <div >About EPAM</div>
    <p><b>EPAM Systems, Inc., also known as EPAM, is a global provider of software engineering and IT consulting services headquartered in Newtown, Pennsylvania, United States. The company has software development centers and branch offices in North America, Europe, Asia and Australia.EPAM is in search of young enthusiastic Engineers to help us in delivering the projects for Hyderabad / Pune global delivery Centre.
  </b></p>
    
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" ><b>
          <li> Should have completed Graduation BTech/B.E./M.Tech</li>
          <li>Candidate must possess more than 60% on average in Class X, XII and Graduation</li>
          <li>Should have no backlogs</li></b>
        </ul>
      <div >Skills Required :</div>
      <ul type="disc" ><b>
          <li>Coding knowledge in Java</li>
          <li>Good at writing Algorithms</li>
          <li>Good in Data Structures and OOPs concepts.</li></b>
        </ul>
        <div >Hiring Process :</div>
        <ul type="disc"><b>
        <li>Round 1: Online coding challenge on Java (150 min)</li>
        <li>Round 2: Online coding challenge on Java (120 min)</li>
        <li>Round 3: Technical face to face Interview (30 min)</li>
        <li>Round 4: Behavioral assessment/ HR interview (30 min)</li></b>
        </ul>
  </body>
</html>
