<!-- <p>
  opentext works!
</p> -->


<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">

    <div >About OPENTEXT</div>
    <p><b>OpenText Cordys is a global cloud platform software provider that helps businesses move to the cloud quickly and with minimal risk. The OpenText Cordys platform combines platform as a Service, enterprise application development, a complete Business Process Management Suite (BPMS) and the next generation of high productivity middleware.
  </b></p>
    
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" ><b>
          <li> Should have completed Graduation BTech/B.E./M.Tech</li>
          <li>Candidate must possess more than 65% on average in Class X, XII and Graduation</li>
          <li>Should have no backlogs</li></b>
        </ul>
        <div >Hiring Process :</div>
        <ul type="disc"><b>
        <p>The selection process of the company consists of 3 rounds. These rounds are as follows:

        </p>
        <li>Written Exam</li>
        <li>Technical Interview</li>
        <li>HR Interview</li></b>
        </ul>
  </body>
</html>