<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>


  
    <center><img src="logo.png" height="25%" width="25%"></center>
    <div class="blue">
    <h2>TRAINING AND PLACEMENT CELL</h2>
    
    <p>
      The Training and placement Cell is committed to provide all possible assistance to its students in their efforts to find employment. This commitment is demonstrated by the existence of a full time professor in charge. The benefits of this assistance are reflected in the preparation of students who were able to secure lucrative and esteemed positions in recent years. The Training & Placement service operates year round to facilitate contacts between companies and graduates. Staffs are available to respond to student's question and concern of all kinds. The aim is to ensure that students have the information and skills necessary for an effective job search.
    </p>
    </div>

    <div class="blue2">
    <h2>PLACEMENT FACILITIES</h2>

  <p>  Separate cell has been established with one full time staff In-charge for placement in order to guide students to approach companies.

    Conduct a survey on recruiters' expectations from students.
    Obtain feedback from employers of past batches.
    Enable networking with alumni.

    Organize training sessions on soft skills development.
  </p>
  </div>
  <div class="blue3">
  <h2>BRANCH WISE PLACEMENTS</h2>
    </div>
<div class="container">

  <div class="list-group">
    <a routerLink="/csit" class="list-group-item list-group-item-danger">- CSIT</a>
    <a routerLink="/ece" class="list-group-item list-group-item-success">- ECE</a>
    <a routerLink="/mech" class="list-group-item list-group-item-warning ">- Mech</a>
    <a routerLink="/eee" class="list-group-item list-group-item-info ">- EEE</a>
 
  </div>
</div>

</body>
</html>


 -->



 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div class="ct-pageWrapper" id="ct-js-wrapper">
                <section class="company-heading intro-type" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                                <h1>
                                   Placement Details
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);">
                        &nbsp;
                    </div>
                </section>
                <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
                    <div class="container text-center">
                        <h2>
                          TRAINING AND PLACEMENT CELL
                        </h2>
                        <!-- <h3>
                            Lorem ipsum - dolor
                        </h3> -->
                        <div class="col-md-8 col-md-offset-2">
                            <div class="red-border">
                                &nbsp;
                            </div>
                            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                              <b>The Training and placement Cell is committed to provide all possible assistance to its students in their efforts to find employment. This commitment is demonstrated by the existence of a full time professor in charge. The benefits of this assistance are reflected in the preparation of students who were able to secure lucrative and esteemed positions in recent years. The Training & Placement service operates year round to facilitate contacts between companies and graduates. Staffs are available to respond to student's question and concern of all kinds. The aim is to ensure that students have the information and skills necessary for an effective job search.</b>
                            </p><!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
                        </div>
                    </div>
                </section>
                <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>
                              PLACEMENT FACILITIES
                            </h2>
                        
                            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
                              Separate cell has been established with one full time staff In-charge for placement in order to guide students to approach companies.

                              Conduct a survey on recruiters' expectations from students.
                              Obtain feedback from employers of past batches.
                              Enable networking with alumni.
                          
                              Organize training sessions on soft skills development. 
                            </p>
                        </div>
                    </div>
                </section>


                <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <p style="font-size: 50px">
                                BRANCH-WISE PLACEMENTS
                            </p>
                            <!-- <h3>
                                Vestibulum elementum nisi ut
                            </h3> -->
                            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. 
                            </p>
                        </div>
                        <div class="row ct-u-paddingBoth20">
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <a routerLink="/csit"><b>COMPUTER SCIENCE ENGINEERING & IT</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p> -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    <a routerLink="/ece"><b>ELECTRONICS AND COMMUNICATION ENGINEERING</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Praesent sed libero vel ex maximus vulputate nec eu ligula.
                                    </p> -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <a routerLink="/eee"><b>ELECTRICAL AND ELECTRONICS ENGINEERING</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Vestibulum elementum nisi ut fermentum lobortis. 
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="row ct-u-paddingBoth20">
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                    <a routerLink="/mech"><b>MECHANICAL ENGINEERING</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Nullam bibendum felis non laoreet rutrum.
                                    </p> -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                                    <a routerLink="/csit"><b>PHARMACEUTICAL ENGINEERING</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Etiam diam mi, lacinia eu sapien in, dapibus sodales erat.
                                    </p> -->
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                    <a routerLink="/csit"><b>CHEMICAL ENGINEERING</b></a>
                                    <!-- <p class="company-icons-subtext hidden-xs">
                                        Etiam varius porttitor tellus et aliquet.
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>







                <section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>
                                COMPANIES
                            </h2>
                            <h3>
                                World’s leading brands visit us.
                            </h3>
                            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60 marginTop40">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis. 
                            </p>
                        </div>
                        <div class="clearfix">
                            &nbsp;
                        </div>
                           </div>
<!-- </header> -->
<main>
   <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
      <div class="row">
         <div class="col-md-12 ct-content">
            <section class="clients-home">
               <div class="container">
                  <div class="clients-logos text-center">
                     <!-- starting row div -->
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="https://www.tcs.com/" class="Zeina"><img alt="TCS" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNywydLxYK1Jjm0Lc3KEBG6ZsUeGWkX0L0c0czkYL2sx4acs6R"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    TCS
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/logic.html" class="Logic"><img style="height: 200px; width: 300px" alt="Capgemini" src="https://www.capgemini.com/wp-content/uploads/2017/10/cg_logo.jpg"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Capgemini
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/smart.html" class="Smart"><img  style="height: 200px; width: 200px" alt="ADOBE" src="http://www.findthatlogo.com/wp-content/uploads/2011/10/adobe-logo.jpg"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    ADOBE 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/softtech.html" class="Softtech"><img style="height: 100px"  alt="https://www.solodev.com/assets/clients/softtech.png" src="https://gigaom.com/wp-content/uploads/sites/1/2013/04/calogo.jpg"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    CA 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/wheel.html" class="Wheel"><img style="height: 200px; width:200px" alt="https://www.solodev.com/assets/clients/logo-target.png" src="https://thumbor.forbes.com/thumbor/416x416/filters%3Aformat%28jpg%29/https://i.forbesimg.com/media/lists/companies/tech-mahindra_416x416.jpg"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Tech Mahindra 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/3designs.html" class="3designs"><img style="width: 200px" alt="https://www.solodev.com/assets/clients/designx.png" src="http://seekvectorlogo.com/wp-content/uploads/2018/02/opentext-vector-logo.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    OpenText 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/heart.html" class="Heart"><img alt="https://www.solodev.com/assets/clients/client7.png" src="https://media.glassdoor.com/sqll/306538/kony-squarelogo-1524255177975.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Kony Labs
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/devtech.html" class="Devtech"><img style="width: 200px" alt="https://www.solodev.com/assets/clients/devtech.png" src="https://www.logosvgpng.com/wp-content/uploads/2018/04/epam-systems-logo-vector.png"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    EPAM 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="/path/to/detail/chartz.html" class="Chartz"><img alt="https://www.solodev.com/assets/clients/chartz.png" src="http://digitalterminal.in/uploads/news/1536238481s_Persistent%20Systems%20Acquires%20Herald%20Health.jpg"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Persistent 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- closing row div -->
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</main>
                
               