<!-- <p>
  persistent works!
</p> -->


<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">

    <div >About Persistent</div>
    <p><b>Persistent Systems is a technology services company which was incorporated on 16 May  1990 as Persistent Systems Private Limited. It was subsequently converted into a public Limited company on 17 September 2010 with the name Persistent Systems Limited and a new certificate of incorporation was issued on 28 September 2007 from the RoC.
  </b></p>
    
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" ><b>
          <li> Should have completed Graduation BTech/B.E./M.Tech</li>
          <li>Candidate must possess more than 65% on average in Class X, XII and Graduation</li>
          <li>Should have no backlogs</li></b>
        </ul>
        <div >Hiring Process :</div>
        <ul type="disc"><b>
        <p>Persistent recruitment process consists 4 rounds.


        </p>
        <li>Written Exam(Aptitude)</li>
        <li>Technical Interview 1</li>
        <li>Technical Interview 2</li>
        <li>HR Interview</li></b>
        </ul>
  </body>
</html>