<!-- <p>
  tcs works!
</p> -->


<!-- <p>
  persistent works!
</p> -->


<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">

    <div >About TCS</div>
    <p><b>Tata Consultancy Services Limited (TCS) is an Indian multinational information technology (IT) service, consulting and business solutions company Headquartered in Mumbai, Maharashtra. It is a subsidiary of the Tata Group and operates in 46 countries.
        TCS is one of the largest Indian companies by market capitalization ($80 billion). 
  </b></p>
    
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" ><b>
          <li> Should have completed Graduation BTech/B.E./M.Tech</li>
          <li>Candidate must possess more than 65% on average in Class X, XII and Graduation</li>
          <li>Allows 1 backlog</li></b>
        </ul>
        <div >Hiring Process :</div>
        <ul type="disc"><b>
        <p>TCS conducts 4 rounds to select freshers as Assistant System Engineer in their organisation.


        </p>
        <li>Written Round(Aptitude)</li>
            <pre>
              <!-- <i>Quantitative Aptitude</i><br> -->
              <i>Programming language test</i><br>
              <i>Coding Round</i><br>
              <i>Quantitative Aptitude</i><br>
              <i>Email Writing</i>
            </pre>
        <li>Technical Interview 1</li>
        <li>Technical Interview 2</li>
        <li>HR Interview</li></b>
        </ul>
  </body>
</html>