<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">
    
    <div >About Tech Mahindra</div>
    <p><b>Tech Mahindra represents the connected world, offering innovative and customer-centric information technology experiences,
      enabling Enterprises, Associates and the Society to Rise™. We are a USD 4.9 billion company with 113,550+ professionals across
       90 countries, helping over 926 global customers including Fortune 500 companies. Our convergent, digital, design experiences,
       innovation platforms and reusable assets connect across a number of technologies to deliver tangible business value and 
      experiences to our stakeholders. Tech Mahindra is amongst the Fab 50 companies in Asia (Forbes 2016 list).
  </b></p>
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" >
          <li>Candidate must be a B.tech/B.E (CSIT/EEE/ECE)</li>
          <li>Candidate must possess more than 60% on average in Class X, XII and Graduation</li>
        </ul>
      <div >SELECTION PROCESS</div>
      <p><b>
        The selection process of the company consists of 4 rounds. These rounds are as follows: 
        </b>
      </p>
      <ul type="disc">
        <li>Written Exam</li>
        <li>Essay Writing</li>
        <li>Technical Interview</li>
        <li>HR Interview</li>
      </ul>
  </body>
</html>


