<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div class="ct-pageWrapper" id="ct-js-wrapper">
                <section class="company-heading intro-type" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                                <h1>
                                    About Us
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);">
                        &nbsp;
                    </div>
                </section>
                <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
                    <div class="container text-center">
                        <!-- <h2>
                            WHAT DRIVES US
                        </h2> -->
                        <h3>
                            About BVRIT
                        </h3>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="red-border">
                                &nbsp;
                            </div>
                            <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                                B V Raju Institute of Technology (BVRIT) was established by the eminent philanthropist (Late) Padmabhushan Dr. B.V. Raju under the aegis of Sri Vishnu Educational Society (SVES) in the year 1997. BVRIT was granted UGC - Autonomous Status from the year 2014. The Institute is also duly approved by the AICTE and the Government of Telangana State and is affiliated to JNTU, HYDERABAD. BVRIT is accredited by both NBA and NAAC, New Delhi.
                                
                                This institution is also looked after by a body of distinguished professionals from IITs, engineering and government sectors, led by Sri K.V.Vishnu Raju garu. He is a graduate in Chemical Engineering from REC, Trichy and a postgraduate from Michigan Technological University, USA.
                                
                                The purpose of establishing BVRIT was to provide quality technical education in a perfect ambience for the all-round development of a student. Under the hegemony of our Chairman, Sri K.V.Vishnu Raju, BVRIT made a quantum leap in its reputation for its best teaching learning practices, high quality intake, excellent infrastructure facilities, highest number of placements, etc.
                            </p><!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
                        </div>
                    </div>
                </section>
                <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
                    <img src="./assets/bvraju.jpg" alt="BVRAJU" style="float: right; margin-right: 100px; margin-top: 150px; height: 400px; width: 250px">
                    <div class="container">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>
                                Founder Chairman - Padma Bhushan Dr. B.V. Raju
                            </h2>
                           
                            <h3>
                                Founder Chairman - Sri Vishnu Educational Society
                            </h3>
                            <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
                                Dr. B V Raju a septuagenarian is from Bhimavaram, W.G.Dist of Andhra Pradesh. He was a Chemical Engineer from Benaras Hindu University and a Management Graduate from Harvard University, U.S.A. He started his career as a low-grade worker in the cement industry and rose to the level of Chairman and Managing Director of Cement Corporation of India, a Govt. of India Undertaking. He contributed for the industrialisation in India by setting up major cement factories at Mandar, Akhaltara and Neemuch in Madhya Pradesh , at Adilabad, Tandur, and Cuddapah in Andhra Pradesh, at Rajban in Himachal Pradesh, at Bukajam in Assam and at Kurukunta in Karnataka. He was also an advisor to State Government of Tamilnadu, Kerala, Orissa, Uttar Pradesh, West Bengal, etc. to set up Industries. He is a doyen of the Cement Industry and was an industrial adviser to several countries like Sri Lanka, Malaysia, Bangladesh, Indonesia, Nepal, Bhutan etc.

                                After retirement, he promoted several industries in A.P like Raasi Cement, Vishnu Cement, Raasi Refractories, Raasi Ceramics, Telangana Paper Mills, Raasi Software, Raasi Finance & investment Limited etc. In due Recognition of his contribution for the industrial sector in India, he was awarded with "PADMA SHRI" in 1977 and "PADMA BHUSHAN" in 2001 by the Govt. of India., and was awarded "DOCTORATE" by Jawaharlal Nehru Technological University, Hyderabad. Both the B.V.Raju Foundation and Sri Vishnu Educational Society are the culmination of his vision, inspiration, conscientious effort to help the society particularly the underprivileged people.
                            </p>
                        </div>
                        <div class="row ct-u-paddingBoth20">
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                    <img src="./assets/GreenMedows.png">
                                    <p>
                                        Green Meadows Campus
                                    </p>
                                    <p class="company-icons-subtext hidden-xs">
                                        BHIMAVARAM
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    <img src="./assets/orchardW.png">
                                    <p>
                                        Orchard Park Campus
                                    </p>
                                    <p class="company-icons-subtext hidden-xs">
                                       NARSAPUR
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    <img src="./assets/valley.png">
                                    <p>
                                        Valley Vista Campus
                                    </p>
                                    <p class="company-icons-subtext hidden-xs">
                                        HYDERABAD 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row ct-u-paddingBoth20">
                            <div class="col-xs-6 col-md-4">
                                <div class="company-icons-white">
                                    <i class="fa fa-coffee" aria-hidden="true"></i>
                                    <img src="./assets/lakeview.png">
                                    <p>
                                        Lake View Campus
                                    </p>
                                    <p class="company-icons-subtext hidden-xs">
                                        Vishnu Educational Development and Innovation Centre
                                    </p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </section>
               