

<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Acme">
     <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
      body,ul {
        /* font-family: 'Acme', sans-serif; */
        font-family: 'EB Garamond', serif;
        font-size: 20px;
      }
      .blue2{
        background-color:  aqua;
      }
      div{
        font-size: 48px;
        font-family: 'Acme', sans-serif;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
        
    }
    ul{
      text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    </style>
  </head>
  <body class="blue2">
    
    <div >About HCL</div>
    <p><b>HCL Technologies is a next-generation global technology company that helps enterprises reimagine their businesses for the
      digital age. Our technology products, services and engineering are built on four decades of innovation, with a world-renowned 
     management philosophy, a strong culture of invention and risk-taking, and a relentless focus on customer relationships. 
     With a worldwide network of R&D, innovation labs and delivery centers, and 124,000+ ‘Ideapreneurs’ working in 41 countries, 
     HCL serves leading enterprises across key industries, including 250 of the Fortune 500 and 650 of the Global 2000.
      HCL generated consolidated revenues of USD 8.0 billion for 12 months ended 30th Jun 2018.
  </b></p>
    <div >ELIGIBILITY CRITERIA</div>
      
        <ul type="disc" >
          <li>Candidate must be a B.tech/B.E (CSIT/EEE/ECE)</li>
          <li>Candidate must possess more than 60% on average in Class X, XII and Graduation</li>
        </ul>
      <div >SELECTION PROCESS</div>
      <p><b>
        The selection process of the company consists of 4 rounds. These rounds are as follows: 
        </b>
      </p>
      <ul type="disc">
        <li>Written Exam</li>
        <li>Group Discussion</li>
        <li>Technical Interview</li>
        <li>HR Interview</li>
      </ul>
  </body>
</html>

