<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>







<div class="jumbotron text-center">
<h1>Contact US</h1>
  <!-- <img src="bvritpic.jpg" alt="bvritpic" width="100%" height="45%"> -->
  <p>
    <b>ADDRESS:</b>
    <br> SRI VISHNU EDUCATIONAL SOCIETY
    <br> Plot No. 7 and 8,Nagarjuna Hills Punjagutta Main Road,Hyderabad
    <br> Telangana, India
    <br>500082
    <br>


    <b>PHONE NUMBER</b>
    <br> t: 040-40334848
    <br> f: 040-40334818
    <br>

    <b>E-MAIL ID:</b>
    <br> info@srivishnu.edu.in
    <br>
  </p>
  <div class="map">
    <iframe src="https://maps.google.com/maps?width=100&height=600&hl=en&coord=51.5072,0.12750000000005457&q=sri%20vishnu%20educational%20society%2Cpanjagutta+(Your%20BusiBVRITness%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <a href="https://www.mapsdirections.info/en/custom-google-maps/"></a>
    <a href="https://www.mapsdirections.info/en/"></a>
  </div>
</div>



<!-- <footer class="footer">
  <h4>&copy; B V Raju Institute Of Technology </h4>
</footer> -->

</html>